django~=3.2.15
certifi==2021.10.8
pip==21.2.4
psycopg2==2.8.6
python-decouple==3.5
pytz==2020.1
setuptools==58.0.4
sqlparse==0.4.2
wheel==0.37.0
pytest==6.2.5
pytest-django==4.5.2
pyparsing==3.0.6
pylint~=2.12.2
pytest-circleci-parallelized==0.0.4